table {
	color:#80BFFF
}
.title {
	font-weight:bold 
	color :#514721
	background-color: #80BFFF
}
tr.odd td {
	background-color: #BFBFBF
}
tr.even td {
	background-color: #FFFFFF
}
.contract {
	color:#445588
}
.classname {
	color:#445588
}
.methodname {
	color:#445588
}
.pass {
	color:#006600
}
.fail {
	color:#660000
}
.suggestion {
	color:#FDD017
}
