<html>
	<head>
		<title>Result at <%= @timestamp %></title> 
		<meta name="author" content="Sceraert Vincent, UCL" />
		<!-- Found at https://yoast.com/articles/sortable-table/ -->
		<script type="text/javascript" src="sortable.js"></script>
		<!-- End of found material -->
		<link rel="stylesheet" type="text/css" href="result.css"/>
	</head>
	<body>
		<h1>Result at <%= @timestamp %></h1> 
		<p style="font-weight:bold">Number of contracts : <%= @contracts.length %></p>
		<table class="sortable" id="anyid" border="1" style="width:100%">
			<tr class="title">
				<td>
					<p>Contract</p>
				</td>
				<td>
					<p>Type</p>
				</td>
				<td>
					<p>Class</p>
				</td>
				<td>
					<p>Method</p>
				</td>
				<td>
					<p>Result</p>
				</td>
			</tr>
			
			
			<% for @contract in @contracts %>
			<tr>
				<td>
					<p class="contract"><%= @contract.contract %></p>
				</td>
				<td>
					<% if @contract.type == :suggestion %>
						<p class="suggestion">
					<% else %>
						<p class="fail">
					<% end %>
						<%= @contract.type %>
						</p>
				</td>
				<td>
					<p class="classname"><%= @contract.class_name %></p>
				</td>
				<td>
					<p class="methodname">
					<% if @contract.method_name != "@" %>
						<%= @contract.method_name %>
					<% else %>
						-
					<% end %>
					</p>
				</td>
				<td>
					<% if @contract.result == :pass %>
						<p class="pass">
					<% else %>
						<p class="fail">
					<% end %>
						<%= @contract.result %>
						</p>
				</td>
			</tr>
			<% end %>
		</table>
		
	</body>
</html>
